<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LeetCode_classification/src/_159_Longest_Substring_with_At_Most_Two_Distinct_Characters/Solution.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="_159_Longest_Substring_with_At_Most_Two_Distinct_Characters.Solution"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LeetCode_classification"/>
</launchConfiguration>
